* {
    -webkit-user-select: none;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    font-family: "Verdana", Geneva, sans-serif;
}


div.marqueeleft1 { text-align: left; }
div.marqueeleft2 { margin-left: 0; margin-right: auto; }



#wrapper {

    display: block;
    

    /* width: 100%; */


}


#canvas {

    display: block;
    position:relative;

    width: 800px;
    height: 640px;
    text-align: center;
    

    margin: 20px auto;
}


#news {
   // background: red;
    width:80%;
    height:30px;
    /* display: block; */
    position: relative;
    bottom: 60px;
    left: 15px;
    overflow: hidden;
    z-index: 1;
}

#news-scrolling {
  position: absolute;
  color:white;
  font-size: 17px;
 // padding-right: 80px;
  z-index: -1;
  overflow: hidden;
  white-space: nowrap;
}



#menu-nav {
    
    position: absolute;
    bottom:60px;
    display: block;
    right:0px;
    
}
